# Exercises: Level 1

Get user input using input(“Enter your age: ”). If user is 18 or older, give feedback: You are old enough to drive. If below 18 give feedback to wait for the missing amount of years. Output:

In [11]:
age = input('Enter your age: ')
age = int(age)
adult_age = 18
if(age >= adult_age):
    print('You are old enough to learn to drive.')
else:
    
    print(f"You need {adult_age-age} more years to learn to drive.")

Enter your age:  10

You need 8 more years to learn to drive.

- Compare the values of my_age and your_age using if … else. Who is older (me or you)? Use input(“Enter your age: ”) to get the age as input. You can use a nested condition to print 'year' for 1 year difference in age, 'years' for bigger differences, and a custom text if my_age = your_age.

In [24]:
your_age = input('Enter your age: ')
your_age = int(your_age)
my_age = 25
if(your_age > my_age):
    if(your_age - my_age == 1):
        print('You are 1 year older than me')
    else:
        print(f'You are {your_age - my_age} years older than me')
elif (your_age == my_age):
    print('We are of the same age')
else:
    if(my_age - your_age == 1):
        print('I am 1 year older than you')
    else:
        print(f'I am {my_age - your_age} years older than you')

Enter your age:  24

I am 1 year older than you

- Get two numbers from the user using input prompt. If a is greater than b return a is greater than b, if a is less b return a is smaller than b, else a is equal to b.

In [31]:
num_a = int(input('Enter a: '))
num_b = int(input('Enter b: '))
if(num_a > num_b):
    print('a is greater than b')
elif (num_a == num_b):
    print('a is equal to b')
else:
    print('b is greater than a')

Enter a:  20
Enter b:  30

b is greater than a

# Exercises: Level 2

- The following list contains some fruits:
```sh
fruits = ['banana', 'orange', 'mango', 'lemon']
```
If a fruit doesn't exist in the list add the fruit to the list and print the modified list. If the fruit exists print('That fruit already exist in the list')

In [16]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruit = input('Enter a fruit: ')

if fruit in fruits:
    print(f'{fruit} already exist in the list')
else:
    fruits.append(fruit)
    print(f'Modified list: {fruits}')

Enter a fruit:  banana

banana already exist in the list

- Write a code which gives grade to students according to theirs scores:
```
80-100, A
70-89, B
60-69, C
50-59, D
0-49, F
```

In [8]:
score = int(input('Enter student score to grade: '))
if 80 <= score <=100:
    print('A')
elif 70 <= score < 80:
    print('B')
elif 60 <= score < 70:
    print('C')
elif 50 <= score < 60:
    print('D')
elif 0 <= score < 50:
    print('E')

Enter student score to grade:  59

D

- Check if the season is Autumn, Winter, Spring or Summer.If the user input is: 
    September, October or November, the season is Autumn. 
    December, January or February, the season is Winter.
    March, April or May, the season is Spring
    June, July or August, the season is Summer

In [13]:
autumn = ['September','October','November']
winter = ['December,January,February']
spring = ['March,April,May']
summer = ['June,July,August']

month = input('Enter month to check the season: ')
if month in autumn:
    print(2)
    print('Season: Autumn')
elif month in winter:
    print('Season: Winter')
elif month in spring:
    print('Season: Spring')
elif month in summer:
    print('Season: Summer')

Enter month to check the season:  September

# List Comprehension Exercise

Filter only negative and zero in the list using list comprehension

`numbers = [-4, -3, -2, -1, 0, 2, 4, 6]`

In [27]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
filtered_numbers = [num for num in numbers if num <= 0]
print(filtered_numbers)

[-4, -3, -2, -1, 0]

- Flatten the following list of lists of lists to a one dimensional list :
```
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

output
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [33]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flattened_list = [final for row in list_of_lists for l in row for final in l]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- Using list comprehension create the following list of tuples:
```
[(0, 0, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [ ]:
tpl = []